article {
  border: 1px solid #333;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

img {
  max-width: 100px;
}
section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(3) 1fr;
}
