nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border-radius: 20%;
  border-width: 5px;
}

.valgt {
  color: white;
  background-color: red;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  justify-content: center;
}
article {
  padding: 1em;
  border: 1px solid rgb(188, 45, 50);
  border-radius: 0.5em;
}

img {
  max-width: 100%;
  border-radius: 0.5em;
}

#popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#popup,
article {
  width: 70%;
  background-color: #47474d80;
  padding: 12px;
  border-radius: 5px;
  left: 13rem;
  top: 5rem;
  color: white;
}
